<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Tulos</title>
    <link rel="stylesheet" href="/tyylit/tyylit.css" type="text/css">
</head>

<body>
    <main>
        <h1>Haetut tiedot:</h1>
        <div class="kentat">
            <p><span class="selite">Numero:</span> <%= peli.numero %></p>
            <p><span class="selite">Nimi:</span> <%= peli.nimi %></p>
            <p><span class="selite">Arvostelu:</span> <%= peli.arvostelu %></p>
            <p><span class="selite">Genre:</span> <%= peli.genre %></p>
            <p><span class="selite">Vuosi:</span> <%= peli.vuosi %></p>
        </div>
        <a class="nappi" href="/">Valikkoon</a>
    </main>
</body>

</html>